/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Oct-2016, 19:10:30
    Author     : Deepansh
*/

li.nostyle {
    list-style-type: none;
}

li.nobottom{
    list-style-type: none;
        margin-bottom: 0em;
}

li.notop{
    list-style-type: none;
    margin-top: 0em;
    
}
li.nopad{
  margin: 0em;  
  list-style-type: none;
}
input{
    margin: 0em;
}

.val
            {
                color:red;font-size:15px
            }
            
bodyy{
    background-color: #203349
        
}

li.log{
    list-style-type: none;
    align-content: left;        
}

